*{padding:0px;margin:0px; }
.content{ min-width:800px;background-color: #666;padding:20px 20px 20px 20px;overflow: auto;}
.left-content{ float: left;width:200px;background-color: #eee;}
.right-content{float:right;width:120px;background-color: #eee;}
.main-content{margin:0px 140px 0px 220px;background-color: #eee;}
.logoCtrl{width:80px;height:80px;}
.team-info{margin:20px 20px 20px 20px;overflow: auto;}
.person-info{margin:20px 20px 20px 20px;overflow: auto;}
.teamLogo{float: left;}
.teamName{text-align: center;}